<div class="product-grid">
    <app-product-card [image]="'assets/Product1.png'" [description]="'>Ноутбуки'"></app-product-card>
    <app-product-card [image]="'assets/Product2.png'" [description]="'Компьютеры'"></app-product-card>
    <app-product-card [image]="'assets/Product3.png'" [description]="'Мониторы'"></app-product-card>
    <app-product-card [image]="'assets/Product4.png'" [description]="'Gaming'"></app-product-card>
    <app-product-card [image]="'assets/Product5.png'" [description]="'Планшеты'"></app-product-card>
    <app-product-card [image]="'assets/Product6.png'" [description]="'Кабели и переходники'"></app-product-card>
    <app-product-card [image]="'assets/Product7.png'" [description]="'Компьютерные комплектующие'"></app-product-card>
    <app-product-card [image]="'assets/Product8.png'" [description]="'Сетевое Оборудование'"></app-product-card>
    <app-product-card [image]="'assets/Product9.png'" [description]="'Наушники и аксессуары'"></app-product-card>
    <app-product-card [image]="'assets/Product10.png'" [description]="'Клавиатуры и Мыши'"></app-product-card>
    <app-product-card [image]="'assets/Product11.png'" [description]="'Аксессуары для электроники'"></app-product-card>
    <app-product-card [image]="'assets/Product12.png'" [description]="'Оргтехника'"></app-product-card>
 
  </div>
